<nav class="menu">
	<div class="logo">PAGE</div>

	<div class="dropdown">
		<a href="/" , class="dropbtn">Home Page</a>
	</div>

	<div class="dropdown">
		<a href="#section1" class="dropbtn">Sec1</a>
		<div class="dropdown-content">
			<a href="#par1">Sec1</a>
			<a href="#par2">Sec2</a>
			<a href="#par3">Sec3</a>
		</div>
	</div>

	<div class="dropdown">
		<a href="#section2" class="dropbtn">Sec1</a>
		<div class="dropdown-content">
			<a href="#par4">Sec1</a>
		</div>
	</div>

	<div class="dropdown">
		<a href="#section3" class="dropbtn">Sec1</a>
		<div class="dropdown-content">
			<a href="#par5">Sec1</a>
			<a href="#par6">Sec1</a>
		</div>
	</div>
</nav>
