<div class="imagesContainer" id="products">
	<div class="imageClass">
		<img src="{{ url_for('static', filename='images/echo_dot_5.jpg') }}" alt="Problems :(" />
		<a id="note1" href="https://www.amazon.pl/echo-dot/dp/B09B9CX8PW" target="top">Echo dot 5</a>
	</div>
	<div class="imageClass">
		<img src="{{ url_for('static', filename='images/echo_4.jpg') }}" alt="Problems :(" />
		<a
			href="https://www.amazon.pl/zupelnie-nowe-echo-4-generacji-wersja-miedzynarodowa/dp/B085H3DKLT"
			target="top"
			>Echo 4</a
		>
	</div>
	<div class="imageClass">
		<img src="{{ url_for('static', filename='images/charger.jpg') }}" alt="Problemy :(" />
		<a
			href="https://www.amazon.pl/Akumulator-Echo-Dot-generacji-bezprzewodowa/dp/B0BN3B892Y"
			target="top"
			>Echo dot charger</a
		>
	</div>
</div>
